<footer class="pt-4 pt-md-5 pb-0 mt-md-auto mt-5 bg-body-tertiary" role="contentinfo" aria-label="Site navigation, contact, and copyright information">
    <div class="container py-3 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row krx-footer-links justify-content-between">
            <div class="col-lg-4 mb-3">
                <a class="d-inline-flex align-items-center mb-3 text-body-emphasis link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="/" aria-label="Kroxylicious">
                    <img class="me-2 align-middle" src="{{ '/assets/theme/images/kroxylicious_logo_rgb_no_text.svg' | absolute_url }}" height="32" alt="Kroxylicious logo">
                    <span class="fs-4">Kroxylicious</span>
                </a>
                <ul class="list-unstyled small">
                    <li class="mb-3">
                        <span>
                            {{ site.tagline }}
                        </span>
                    </li>
                    <li class="mb-3">
                        We're always looking for new ideas and contributors.
                        <br />
                        Join the discussion on
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://kroxylicious.slack.com" target="_blank" rel="noopener">Slack</a>
                        (<a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://join.slack.com/t/kroxylicious/shared_invite/zt-1rzjijq6d-x7At3bfPiPqFEqc9RmNhYA" target="_blank" rel="noopener">invite</a>), or
                        get involved on <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/kroxylicious" target="_blank" rel="noopener">GitHub</a>.
                    </li>
                    <li class="mb-2">
                        <div class="justify-content-start">
                            <i class="bi bi-heart-fill me-1 align-middle"></i>
                            <span>
                                Thank you for supporting Kroxylicious:
                            </span>
                        </div>
                        <div class="w-100 my-2">
                            <a class="icon-link me-1" href="https://github.com/kroxylicious/kroxylicious">
                                <img class="img-fluid krx-icon" src="{{ '/assets/theme/images/github-mark.svg' | absolute_url }}" alt="GitHub logo"/>
                            </a>
                            <a class="icon-link me-1" href="https://1password.com">
                                <img class="img-fluid krx-icon" src="{{ '/assets/theme/images/1Password-Lock-Blue.svg' | absolute_url }}"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 offset-lg-2 mb-3 text-lg-end">
                <h1 class="fs-5">Links</h1>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="{{ '/' | absolute_url }}">
                            Home
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="{{ '/download/' | absolute_url }}">
                            Download
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="{{ '/documentation/' | absolute_url }}">
                            Documentation
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="{{ '/blog/' | absolute_url }}">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 text-lg-end">
                <h1 class="fs-5">Projects</h1>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/kroxylicious">
                            Kroxylicious
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/kroxylicious-junit5-extension">
                            JUnit5 Extension
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 text-lg-end">
                <h1 class="fs-5">Community</h1>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://kroxylicious.slack.com" target="_blank" rel="noopener">
                            Slack
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/kroxylicious/issues" target="_blank" rel="noopener">
                            Issues
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/kroxylicious/discussions" target="_blank" rel="noopener">
                            Discussions
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-body link-underline-dark link-underline-opacity-0 link-underline-opacity-10-hover" href="https://github.com/kroxylicious/design" target="_blank" rel="noopener">
                            Design
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="footer">
            <div class="container grid-wrapper">
                <div class="license">
                    &copy; Kroxylicious authors {{ 'now' | date: "%Y" }} All rights reserved. | Kroxylicious licensed <a href="https://github.com/kroxylicious/kroxylicious/blob/main/LICENSE" target="_blank" rel="license noopener">Apache-2.0</a> | Documentation <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">CC-BY-4.0</a> | Apache and Apache Kafka are trademarks of the <a href="https://www.apache.org/" target="_blank" rel="license noopener">Apache Software Foundation</a> | For details on our trademarks, please visit the foundations <a href="https://www.commonhaus.org/policies/trademark-policy/">Trademark Policy</a> and <a href="https://www.commonhaus.org/trademarks/">Trademark List</a>. Trademarks of third parties are owned by their respective holders and their mention here does not suggest any endorsement or association..
                </div>
                <div class="commonhaus-logo"><a href="https://www.commonhaus.org" target="_blank"><img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_reverse.svg" height="30" alt="Commonhaus foundation logo"/></a></div>
            </div>
        </div>    </div>
</footer>
