---
layout: default
---
<!-- _layouts/docs.html -->
<div class="row justify-content-center gx-0">
  <div class="col-lg-3">
    <div class="card shadow my-lg-5 ms-lg-5 me-1">
      <div class="card-body mx-2" role="navigation" aria-label="{{ page.title }} page navigation">
          <h1 class="card-title fs-3">
            {{ page.title }}
          </h1>
        <div class="card-text g-0">
          {% if page.is_archive %}
          {% capture blurb %}
          {% include_relative blurb.markdown %}
          {% endcapture %}
          {{ blurb | markdownify }}
          {% else %}
          <p><em>This documentation is for a stable release version of Kroxylicious. For the documentation from the latest development version of Kroxylicious, <a href="{{ '/kroxylicious' | relative_url }}">click here</a>.</small></em></p>
          {{ page.document | tocify_asciidoc }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9" role="main">
    <div class="card shadow my-lg-5 me-lg-5 ms-1">
      <div class="card-body mx-2">
        <div class="row g-0">
          <div class="col-auto">
            <div class="card-text ms-3 m-2">
              {% if page.version_warning %}
              {% include bs-alert.html type="warning" icon="exclamation-triangle-fill" content=page.version_warning %}
              {% endif %}
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include asciidoctor-scripts/icons.html %}
{% include asciidoctor-scripts/sectanchors.html %}