---
layout: default
---
<!-- _layouts/guide.html -->
{%- if page.version != site.data.kroxylicious.latestRelease -%}
<div class="admonitionblock note alert alert-info mb-0" role="alert">
    <i class="bi bi-info-circle-fill krx-docs-note ms-2 me-4 fs-5" title="Note"></i>
    This documentation covers a non-current version of Kroxylicious. The latest version is {{ site.data.kroxylicious.latestRelease }}.
</div>
{%- endif -%}
<div class="row justify-content-center gx-0">
  <div class="col-lg-3">
    <div class="card shadow my-lg-5 ms-lg-5 me-1">
      <div class="card-body mx-2" role="navigation" aria-label="{{ page.title }} page navigation">
          <h1 class="card-title fs-3">
            {{ page.title }}
          </h1>
        <div class="card-text g-0">
{%- include_relative toc.html -%}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9" role="main">
    <div class="card shadow my-lg-5 me-lg-5 ms-1">
      <div class="card-body mx-2">
        <div class="row g-0">
          <div class="col-auto">
            <div class="card-text ms-3 m-2">
{%- include_relative content.html -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include asciidoctor-scripts/icons.html %}
{% include asciidoctor-scripts/sectanchors.html %}
