---
layout: default
---
<!-- _layouts/released-documentation.html -->
{% if page.version == 'latest' %}
{% assign version = site.data.release.latest %}
{% else %}
{% assign version = page.url | split: "/" | slice: -1 | first %}
{% endif %}
<div class="row align-items-start justify-content-center my-5">
  <div class="col-lg-3 mb-5" role="complementary" aria-labelledby="page-title">
    <div class="card shadow px-2 mx-2">
      <div class="card-body">
        <h1 id="page-title" class="fs-3">{{ version }} Documentation</h1>
<p>The documentation linked here covers version {{ version }}{%if version == site.data.release.latest %}, which is the latest release.
{% else if version contains "SNAPSHOT" %}, which is an <strong>unstable, unreleased version</strong>. Use at your own risk.
{% else %}. <strong>The latest release is version {{ site.data.release.latest }}. Please consider upgrading.</strong>{% endif %}
</p>
<p>See the <a href="/release-archives/">release archives</a> for the documentation of other releases.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6" role="main">
    <div class="row row-cols-1 row-cols-md-2 g-4">
{%- for docSet in site.data.documentation -%}
{%- assign docSetVersion = docSet[0] | replace: '_', '.' -%}
{%- if docSetVersion == version -%}
{%- for doc in docSet[1].docs -%}
{%- assign first1 = doc.path | slice: 0, 1 -%}
{%- assign first7 = doc.path | slice: 0, 7 -%}
{%- assign first8 = doc.path | slice: 0, 8 -%}
{%- if first7 == 'http://' or first8 == 'https://' or first1 == '/' -%}
{%- assign pathPrefix = "" -%}
{%- else -%} 
{%- assign pathPrefix = "/documentation/" | append: {{version}} | append: "/" -%}
{%- endif -%}
      <div class="col">
        <div class="card shadow mb-2 h-100 mx-2">
          <div class="card-header">
            <h2 class="card-title fs-4"><a href="{{ pathPrefix }}{{ doc.path }}">{{ doc.name }}</a></h2>
          </div>
          <div class="card-body mx-3 my-2">
{{ doc.description }}
          </div>
        </div>
      </div>
{% endfor %}
{% endif %}
{% endfor %}
    </div>
  </div>
</div>

