---
layout: default
toc: true
---

<div class="row justify-content-center">
    <div class="col-11 col-lg-8 card shadow gx-5 gy-5 m-lg-5">
        <div class="card-body mx-2" role="main" aria-labelledby="page-title">
            <div class="card-title display-6 mt-3 mb-4">
              <h1 id="page-title">Use Cases</h1>
            </div>
            <div class="row g-0">
                <div class="col-auto">
                  <div class="card-text">
                    {% for use_case in site.use_cases %}
                      <div id="{{ use_case.name | slugify }}-toc">{{ use_case.content | toc_only }}</div>
                    {% endfor %}
                    {% for use_case in site.use_cases %}
                      <div id="{{ use_case.name | slugify }}-content">{{ use_case.content | markdownify | inject_anchors}}</div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("#toc").forEach((tocElem) => {
      var parentID = tocElem.parentElement.getAttribute("id");
      tocElem.setAttribute("id", parentID + "-container");
    })
    document.querySelectorAll("a.anchor").forEach((anchorElem) => {
      anchorElem.setAttribute("style", "display: none; visibility: hidden;");
    })
  })
</script>